@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "PTSans", sans-serif;
}

body {
    text-align: center;
    background-image: url("/assets/images/background.jpeg");
    box-sizing: border-box;
}

#tasksForm {
    width: 50%;
    max-width: 300px;
    height: 150px;
    max-height: 300px;
    list-style: none;
    background-image: url("assets/images/form.jpeg");
    background-size: contain;
    background-position: center;
    border-radius: 6px;
    padding: 20px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 50px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
}

li {
    list-style: none;
}

.task {
    background-image: url("assets/images/note.jpeg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
}

.task .taskText {
    display: block;
    margin-top: 16px;
    text-align: left;
    margin-left: 20px;
    min-height: 150px;
    min-width: 250px;
    max-width: 250px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.task .icon button {
    margin-left: 150px;
    background: transparent;
    border: none;
    font-size: 24px;
    opacity: 0;
}

.task:hover .icon button {
    opacity: 1;
}

.task .taskDate,
.task .taskTime {
    text-align: left;
    margin-left: 10px;
}

/* #container {
  border: 100px;
  width: 50%;
  max-width: 300px;
  height: 250px;
  max-height: 300px;
  background-image: url("assets/images/note.jpeg");
  background-size: contain;
  background-position: center;
  border-radius: 6px;
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn-container {
    animation: fadeIn 2s;
}